@CHARSET "ISO-8859-1";

html{
	background-image :url("sources/joker.jpg");
	background-repeat: no-repeat;
    background-size: cover;
	color:white;
	background-color:black;
	font-family:Verdana, Geneva, sans-serif;
	 
}
a{
	color:white;
}

#tableLogin{
	padding:2%;
	background-color:rgba(0, 161, 255, 0.85);
    width:260px;
}

input[type="text"],input[type="password"]{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
    border-radius: 5px;
    border-style: hidden;
    width: 95%;
}

.OK{
    background-color: white;
    border: white;
    color: #018de1;
    padding: 9px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
     -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin:0 auto;
	float:right;
}
.OK:hover{
	/*background-color: #00a1ff;*/
	background-color: black;
    color: white; 
}


.CANCEL{
	position:absolute;
    background-color: black;
    border: white;
    color: #018de1;
    padding: 9px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
     -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin:0 auto;
	float:right;
}
.CANCEL:hover{
	background-color: black;
    color: white; 
}




h3{
	color:white;
}

#register{
	color: #fdfdfd;
    text-decoration: none;
    float: right;
}

#register:hover{
	color:black;
}

#title{
	font-style: italic;
    margin: 0 auto;
    padding-left: 63px;
    font-size: 54px;
    color: white;
    margin-top: -63px;
    font-family: fantasy;
}

#title-nav{
	font-style: italic;
    font-size: 54px;
    font-family: fantasy;
    padding-top: -17px;
    margin-top: 42px;
    margin-left: 17px;

}

#title-nav:hover{
	background-color:none;
