@CHARSET "ISO-8859-1";

html{
	background-image :url("sources/vegas.jpg");
	color:white;
	font-family:Verdana, Geneva, sans-serif;
	 
}
a{
	color:white;
}

#tableLogin{
	padding:2%;
	background-color:rgba(0, 161, 255, 0.85);
    border-radius: 25px;
}

input[type="text"],input[type="password"]{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
    border-radius: 5px;
    border-style: hidden;
    width: 95%;
}

.OK{
        background-color: white;
    border: white;
    color: #018de1;
    padding: 9px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
     -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin:0 auto;
	float:right;
}
.OK:hover{
	background-color: #00a1ff;
    color: white; 
}

h3{
	color:white;
}

#register{
	color: #fdfdfd;
    text-decoration: none;
    float: right;
}

#register:hover{
	color:#00a1ff;
}
