@CHARSET "ISO-8859-1";

body{
	margin:0;
}

.error {
	color: red;
}

.success {
	color: green;
}

.table{
	background-color:black;
}


/******************** MENU NAV HEADER *********************/

nav{
    background-color: black;
    width: 100%;
    margin: 0 auto;
    position: fixed;
}
ul {
 padding:0;
 margin:0;
 list-style-type:none;
 float:right;
 }
li {
 float:left; /*pour IE*/
 border-left:1px solid black;
 }
ul li a {
 display:block;
 float:left;   
 width:100px;
 line-height:50px; /*hauteur de l'image de fond*/
 background:black url("sources/noir-1.png") repeat-x;
 text-decoration:none;
 text-align:center;
}
 
 
ul li a:hover {
 background:black url("sources/noir-2.png") repeat-x;
 /*background-color:#0089d9;
 */color:white;
 }  
 
 
.li-right a:hover{
	background-color:#00a1ff;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}



#ul-left{
 float: left;
    width: 30px;
    background-color: red;
    height: 11px;}
    
#ul-left ul li a:hover{
   background-color:none; 
}
 
 
 /*************************************HELENA CODE POUR GAME*******************************/
 
 
  
html, body{
    height:100%;
    width:100%;
    margin:0 auto;
    color:white;
}


#table{
    background-image: url("sources/tapis.jpg");
    background-repeat: no-repeat;
    width: 60%;
    height: 100%;
    background-size: 100%;
    position: absolute;
    float: none;
    margin-left: 20%;
}


#gameHeader{
    height: 70px;
    width: 100%;
    color: #00a1ff;
    margin-top: 52px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    font-style: oblique;
}


#gauche{
    float:left;
    background-color: black;
    position: absolute;
    width: 20%;
    height:70%;
    bottom:0;
   }

#droite{
    color:black;
    float: right;
    margin-top: 0;
    position: fixed;
    padding-top: 0px;
    background-color: white;
    position: static;
    width:269px;
    display:grid;
}


#atout, #main{
    text-align:Center;
    padding-top:25px;
    font-size: large;
    font-variant: all-small-caps;
    font-size: 20px;
    float: left;
    margin-left: 23%;
}

#main{
    margin-left: 20%;
}

#playerFront{
    text-align:Center;
    width:20%;
    height: 20%;
    margin:0 auto;
}

#playerRight{
    text-align:Center;
    float: right;
    width:20%;
    height: 20%;
    margin:0 auto;
}

#myPlayer{
    text-align:Center;
    width:20%;
    height: 20%;
    margin:0 auto;
	/* bottom: 100px;
    position: fixed;*/
    margin-top:25%;
    margin-left: 40%;
}

#myCards{
	width:80px;
	height:120px;
	background-image:cover;
	margin-top:0px;
	
}

#myCards:hover{
	    /*margin-top: 25px;
	    */
	    /*margin-bottom:-50px;
		/*background-color:red;*/
		float:left;
		margin-top:-25px;
		/*position:relative;*/
		/*height:120%;
		border-color: green;*/
}



input[type="submit"]:hover {
/**		margin-bottom:-50px;
		background-color:red;
		float:left;
		margin-top:-25px;
		position:relative;
		height:120%;
		border-color: green;*/
}


#playerleft{
    text-align:Center;
    float: left;
    width:20%;
    height: 20%;
    margin:0 auto;
}


#carte1{
    transform: rotate(65deg);
}


.carte{
	width:120px;
	}

#carte4{
    transform: rotate(0deg);
}



#discussionFrame{
	width:240px;
}
 
 
#jetonPlay{
	width:50px;

 }
 
#behind{
	width:70px;
	
}
 
 
#discussion{
	background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
    width:90%;	
}


#listoftablesTable{
	width:100%;
}
 
 
#dropMenu:hover{
	background-color:#00a1ff;
	
}
 
 .dropdown {
    position: relative;
    display: inline-block;
        padding-top: 14px;
        padding-right:10px;
        text-decoration: none;
}

.dropdown-content {


	margin-left: -100px;
	padding-top:15px;
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    
}

.dropdown-content :hover{
	text-decoration: underline;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	
}

.dropdown:hover .dropdown-content {
    display: block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    
}

.scroll {
    width: 300px;
    height: 300px;
    overflow: scroll;
}